
<!DOCTYPE html>
<html>
<head>
<title>Result Page</title>
</head>
<body>

<h2>Form Submitted Successfully</h2>

<p>Name: <%= username %></p>
<p>Email: <%= useremail %></p>

<a href="/">Go Back</a>

</body>
</html>
